<h3>Projects</h3>

@page "/projects"

<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Requirement</td>
            <td>Design</td>
            <td>Completed On</td>
        </tr>
    </thead>
    <tbody>
        @if (ProjectList != null)
        {
            foreach (Portfolio.Shared.Models.Project project in ProjectList)
            {
                <tr>
                    <td> <a href="@($"/projects/{project.ID}")">@project.Title</a> </td>
                    <td>@project.Requirement</td>
                    <td>@project.Design</td>
                    <td>@project.CompletionDate</td>
                    <td>
                    </td>

                </tr>
            }
        }

    </tbody>

</table>

<a href="@($"/projects/new")">New Project</a>



