@page "/projects/edit/{ProjectSlug}"

<h3>EditProject</h3>

@* Project Form *@
<EditForm Model="@ProjectViewModel" OnValidSubmit="@SubmitChanges">
    <p>
        <label>
            Title <br />
            <InputText @bind-Value="Title" />
        </label>
    </p>

    <p>
        <label>
            Requirement <br />
            <InputTextArea @bind-Value="Requirement" />
        </label>
    </p>
    <p>
        <label>
            Design <br />
            <InputTextArea @bind-Value="Design" />
        </label>
    </p>
    <p>
        <label>
            Date of Completion <br />
            <InputDate @bind-Value="CompletionDate" />
        </label>
    </p>
    <button type="submit">Submit</button>

</EditForm>


@* Categories *@
<EditForm Model="@ProjectViewModel" OnValidSubmit="AddFramework">
    <label>
        Add Framework <InputText @bind-Value="Framework" />
    </label>
    <button type="submit">Add</button>
</EditForm>

<EditForm Model="@ProjectViewModel" OnValidSubmit="AddLanguage">
    <label>
        Add Language <InputText @bind-Value="Language" />
    </label>
    <button type="submit">Add</button>
</EditForm>

<EditForm Model="@ProjectViewModel" OnValidSubmit="AddPlatform">
    <label>
        Add Platform <InputText @bind-Value="Platform" />
    </label>
    <button type="submit">Add</button>
</EditForm>

<button type="button" @onclick="@DiscardChanges">Discard Changes</button>