@using Portfolio.WASM.Components
@page "/projects/detail/{ProjectSlug}"
<br style="margin-top: 20%;" />
<br style="margin-top: 20%;" />


<h1>@ProjectViewModel.Title</h1>

@*<h3>Requirement</h3>
@((MarkupString)RequirementHTMLString)

<br style="height: 100px" />
<hr />
<br style="height: 100px" />*@


@*<h3>Design</h3>*@
@((MarkupString)DesignHTMLString)

<br style="height: 100px" />
<hr />
<br style="height: 100px" />

<div>
    <div style="float: left; padding-right: 10%; ">
        <CategoryTable Categories="@Frameworks" CategoryType="Frameworks" />
    </div>

    <div style="float: left; padding-right: 10%; padding-left: 10%;">
        <CategoryTable Categories="@Languages" CategoryType="Languages" />
    </div>

    <div style="float: left; padding-right: 10%; padding-left: 10%;">
        <CategoryTable Categories="@Platforms" CategoryType="Platforms" />
    </div>


</div>


<div>
    <a href=@($"projects/edit/{ProjectSlug}")>Edit</a>
    <button type="button" @onclick="@DeleteProject">Delete</button>
</div>

<br />

<a href="/projects">Back</a>


@code {

}
